<div class="row">
  <div class="col-md-7">
    <h1>Genres</h1>
    <%= count_for @genres, 'Total:' %>
    <hr>

    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <h3>Genre details</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <%= render @genres %>
      </tbody>
    </table>
  </div>
</div>
