<div class="section">
  <div class="col-md-3">
    <h1>Genres</h1>
    <hr>

    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
		
		<div class="table-responsive-vertical">
			<table class="table table-hover">
      	<tbody>
        	<%= render @genres %>
      	</tbody>
    	</table>
  	</div>
  </div>
</div>
