<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @artist.name %></p>
    <br>
    <p><strong>Cover:</strong></p>
    <p><%= image_tag(@artist.picture) %></p>
    <br>
  </div>
</div>

