<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @artist.name %></p>
    <br>
    <p><strong>Cover:</strong></p>
    <p><%= image_tag(@artist.picture) %></p>
    <br>
  </div>
</div>
<h3>Top tracks</h3>
   <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Genre</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @top_tracks %>
      </tbody>
    </table>

