<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Track</strong></td>
      <td><%= favorite.track.name %></td>
    </tr>
    <tr>
      <td><strong>User</strong></td>
      <td><%= favorite.user.username %></td>
    </tr>
  </tbody>
</table>
