<div class="row">
  <div class="col-md-9">
    <p><strong>Name:</strong></p>
    <p><%= @album.name %></p>
    <br>
    <p><strong>Year:</strong></p>
    <p><%= @album.year %></p>
    <br>
    <p><strong>Cover:</strong></p>
    <p><%=image_tag(@album.cover)%></p>
    <br>
    <p><strong>Tracks:</strong></p>
		<div class="table-responsive-vertical">
      <table class="table table-hover">
      	<thead>
        	<tr>
          	<th>Name</th>
          	<th>Duration</th>
          	<th>Genre</th>
          	<th>Artist</th>
          	<th>Album</th>
          	<th>Actions</th>
      	</thead>
      	<tbody>
        	<%= render @album.tracks  %>
      	</tbody>
    	</table>
    </div>
  </div>
</div>

