<tr>
  <td><%= link_to album.name, album_path(album) %></td>
  <td><%= album.year %></td>
  <td><%= link_to album.artist.name, artist_path(album.artist) %></td>
  <td><%= link_to album.genre.name, genre_path(album.genre) %></td>
  <td>
  </td>
</tr>
