<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @album.name %></p>
    <br>
    <p><strong>Year:</strong></p>
    <p><%= @album.year %></p>
    <br>
    <p><strong>Cover:</strong></p>
    <p><%= image_tag(@album.cover)%></p>
    <br>
    <p><strong>Tracks:</strong></p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Genre</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @album.tracks  %>
      </tbody>
    </table>
  </div>
</div>

