<div class="row">
  <div class="col-md-8">
    <h1>Tracks</h1>
    <%= count_for @tracks, 'Total' %>
    <br>

    <div id="product-alerts"></div>

    <h3>Product details</h3>

    <table class="table">
     <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tracks %>
      </tbody>
    </table>

  </div>
</div>
