<div class="section">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @track.name %></p>
    <br>
    <p><strong>Duration:</strong></p>
    <p><%= @track.duration %></p>
    <br>
    <p><strong>Artist:</strong></p>
    <p><%= @track.artist.name %></p>
    <br>
    <p><strong>Album:</strong></p>
    <p><%= @track.album.name %></p>
    <br>
  </div>
</div>

