<div class="jumbotron">
  <h1>Welcome superadmin!</h1>
  <%= link_to 'Add tracks', new_superadmin_track_path, class: 'btn btn-danger' %>
  <%= link_to 'Add albums', new_superadmin_album_path, class: 'btn btn-danger' %>
  <%= link_to 'Add genres', new_superadmin_genre_path, class: 'btn btn-danger' %>
  <%= link_to 'Add artists', new_superadmin_artist_path, class: 'btn btn-danger' %>
</div>
