<tr>
  <td data-title="Name"><%= link_to artist.name, superadmin_artist_path(artist) %></td>
  <td data-title="Actions">
  	<div class="btn-group">
    	<%= link_to 'Edit', edit_superadmin_artist_path(artist), class: 'btn btn-sm btn-primary' %>
    	<%= link_to 'Delete', superadmin_artist_path(artist), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    </div>
  </td>
</tr>
