<div class="jumbotron">
  <h1>Welcome admin!</h1>
  <%= link_to 'Add tracks', new_admin_track_path, class: 'btn btn-danger' %>
  <%= link_to 'Add albums', new_admin_album_path, class: 'btn btn-danger' %>
  <%= link_to 'Add genres', new_admin_genre_path, class: 'btn btn-danger' %>
  <%= link_to 'Add artists', new_admin_artist_path, class: 'btn btn-danger' %>
</div>
