<div class="row">
  <div class="col-md-9">
    <p><strong>Name:</strong></p>
    <p><%= @playlist.name %></p>
    <br>
    <p><strong>Tracks:</strong></p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Genre</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @playlist.playlist_tracks %>
      </tbody>
    </table>
  </div>
</div>

