<div class="row">
  <div class="col-md-8">
    <h1>Products</h1>

    <table class="table">
       <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Genre</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tracks %>
      </tbody>
    </table>

  </div>
</div>
